<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title >Luartigas</title>
</head>
<body>
  <header id='top'>
  <li id='menua' class="menu"> 
    <ul class="menuop"><a href="#servicios"> SERVICIOS</ul></a>
    <ul class="menuop"><a href="#combos"> COMBOS</ul></a>
    <ul class="menuop"><a href="#contacto"> CONTACTO</a></ul>
    <ul class="menuop"><a href="#aboutus"> ABOUT US</a></ul>
  </li>
<img class="imagen" src="/images/FOTO + LOGO-02.jpg" alt="">
  
  </header>
  <div class="contacto">
    <a href="https://wa.me/5491123890920" target="_blank"> <img src="/images/Whatsapp_37229.png" alt="" class='logo-wsp'> </a>
    
      <a href="#top"><img src="/images/subir.png" alt="" class="logo-volver"></a>
    </div>
    
    <!-- <h3 class='titulop'>| L U A R T I G A S |</h3> -->
    <!-- <div class='recuadro'> -->
    <p class='descripcion'> Libres de moldes de belleza porque amamos vernos naturales. Potenciamos de forma consciente y mega charlado con vos las expectativas que tengas.</p> 
      <!-- <p class='descripcion'>Potenciando de manera consciente y mega charlado con vos lo que naturalmente ya tenés.</p> -->
    <!-- </div> -->
    <section><div id="servicios"></div>
</section>
<section>
  <h3 class='titulo' >| SERVICIOS |</h3>
  <div class='recuadro'>
  <li class='servicios'>
    <div class='menu1'>
    <ul> <a href="#BB-Glow">BB Glow </a></ul>
    <ul><a href="#Microblading"> Microblading</a></ul>
    <ul><a href="#Lifting">Tinte pestañas</a></ul>
    <ul><a href="#Perfilado">Tinte cejas</a></ul>
    </div>
    <div class='separadorMenu'></div>
    <div class="menu2">
    <ul><a href="#Perfilado">Alisado Nutritivo </a></ul>
    <ul><a href="#Lifting"> Lifting nutritivo </a></ul>
    <ul><a href="#Perfilado">Perfilado</a></ul>
    <ul><a href="#contacto">Turnos</a></ul>
    </div>
    
     </li>
     <div id='BB-Glow'></div>
      
      <h4 class= 'servicio' >¿QUÉ ES BB GLOW?</h4>
      <DIV class="fotos">
        <img src="/images/BBGLOW-21.jpg" alt="" class='fotosimg1'>
        <img src="/images/BBGLOW-22.jpg" alt=""class='fotosimg2'>
        <img src="/images/BBGLOW-23.jpg" alt=""class='fotosimg3'>
      </DIV>
      <p class='descripcionServicio'>El BBGLOW es un tratamiento anti envejecimiento y reparador de la piel, es un protocolo estético (no médico) y no invasivo con componentes de alta cosmética. Unifica el tono de la piel, aporta brillo e hidratación y crea ese efecto de “cara lavada". 
        </p>
        <p class='descripcionServicio'>Atenúa la pigmentación de ojeras, manchas de acné y de sol, rosácea, poros dilatados, líneas de expresión y más!</p> 
          <p class='descripcionServicio'>BBGLOW proviene del inglés “Blemish Balm” que en español significa “bálsamo” para un defecto o imperfección y “GLOW” significa brillar, es decir, BBGLOW es un bálsamo para cubrir / atenuar imperfecciones con efecto de brillo.</p>
        <div id='Microblading'></div>
       <p class='masinfo'> PARA + INFO SOBRE EL PROCEDIMIENTO, LAS SESIONES, LOS CUIDADOS, ETC DEJANOS TU MAIL POR INSTAGRAM o WHATSAPP!</p>
    
      <h4 class= 'servicio'>¿QUÉ ES MICROBLADING?</h4>
      <DIV class="fotos">
        <img src="/images/MICROBLADING-14.jpg" alt=""class='fotosimg1'>
        <img src="/images/MICROBLADING-15.jpg" alt=""class='fotosimg2'>
        <img src="/images/MICROBLADING-16.jpg" alt=""class='fotosimg3'>
      </DIV>
      <p class='descripcionServicio'>Es un tatuaje muy superficial en el que por medio de pequeños rasguños insertamos tinta, logrando así, un efecto híper realista con acabado pelo a pelo. Utilizamos dos anestesias de excelente calidad, por lo que no deberías sentir ningún tipo de dolor. </p>
      <p class='descripcionServicio'>Son anestesias en crema de uso tópico.
        </p>
        <div id="Lifting"></div>
        <p class='masinfo'> PARA + INFO SOBRE EL PROCEDIMIENTO, LAS SESIONES, LOS CUIDADOS, ETC DEJANOS TU MAIL POR INSTAGRAM o WHATSAPP!</p>
        
  
      <h4 class= 'servicio' >¿QUÉ ES LIFTING ORGÁNICO NUTRITIVO Y TINTE DE PESTAÑAS?</h4>
      <DIV class="fotos">
        <img src="/images/COMBO_PESTAÑAS-04.jpg" alt=""class='fotosimg1'>
        <img src="/images/COMBO_PESTAÑAS-05.jpg" alt=""class='fotosimg2'>
        <img src="/images/COMBO_PESTAÑAS-06.jpg" alt=""class='fotosimg3'>
      </DIV>
      
      <p class='descripcionServicio'>Antes que nada es importante que sepas que empoderamos tus Pestañas con un Lifting Orgánico Nutritivo  <strong>100% CRUELTY FREE. </strong></p>
        <p class='descripcionServicio'>Con nuestro <strong>LIFTING </strong>levantamos y damos una curvatura mega natural a tus pestañas potenciando tu mirada al máximo.</p>
          <p class='descripcionServicio'>Es  <strong>ORGÁNICO</strong> porque es LIBRE de químicos y sintéticos que dañan los enlaces internos de cada pestaña.</p>
            <p class='descripcionServicio'>Es <strong>NUTRITIVO </strong>porque aportamos a cada una de tus pestañas un producto de ALTO nivel nutricional para enriquecer tus vellos, el 
        amadísimo<strong> BOTOX</strong> o <strong>KERATINA >>></strong> Son productos formulados especialmente para aplicar en cejas y pestañas. Nutren, hidratan y 
        restauran la fibra del pelo desde adentro hacia afuera. (no es el producto que se utiliza en peluquerías)</p>
        <p class='descripcionServicio'>El <strong>TINTE</strong> consiste en darle color a los vellos reforzando así la terminación de nuestras pestañas permitiéndonos evitar el uso de rimmel a diario y por consecuencia, tener un vello mas saludable.</p>
        <div id="Perfilado"></div>
        <div class= 'servicio'>
      <h4>¿QUÉ ES PERFILADO, ALISADO ORGÁNICO NUTRITIVO Y</h4>
        <h4>TINTE DE CEJAS?</h4>
    </div>
    <DIV class="fotos">
      <img src="/images/COMBO_CEJAS-01.jpg" alt=""class='fotosimg1'>
      <img src="/images/COMBO_CEJAS-02.jpg" alt=""class='fotosimg2'>
      <img src="/images/COMBO_CEJAS-03.jpg" alt=""class='fotosimg3'>
    </DIV>
      <p class='descripcionServicio'><strong>El PERFILADO</strong> consiste en darle forma a tus cejas mediante la depilación con PINCITA (no utilizamos hilo), realizando un diseño 100% personalizado, analizando la cantidad de pelo, largo, dirección del vello y las expectativas que vos misma tengas de tus cejas.
          
        Con nuestro <strong>ALISADO</strong> < también conocido como <STRONG> LAMINADO</STRONG> o <strong> BROW LAMINATION</strong> >imaginá tus cejas en su máxima expresión, realzando tu mirada como nunca. Las vas a amar! Lograremos potenciar tus cejas con tu propio pelo, logrando así emprolijar los vellos rebeldes, ya sea por presencia de remolinos, crecimiento de vellos perpendiculares a la piel, necesidad de achatar el volumen o simplemente para mantener nuestras cejas prolijas y en muchos casos, ganar altura (ancho).
        Es tendencia usarlas con efecto pluma, on fleek!, del ancho máximo que tu propio pelo nos permita, pero si no te sentis cómoda con esta moda, no te preocupes, siempre buscaremos que te sientas cómoda con nuestro trabajo por lo que charlaremos juntas las expectativas que tengas del servicio y buscaremos el equilibrio perfecto para vos.</p>
        <p class='descripcionServicio'>Es importante que sepas que realizamos un Alisado Orgánico  Nutritivo<strong> 100% CRUELTY FREE</strong>.</p>
          <p class='descripcionServicio'>Es <strong>ORGÁNICO</strong> porque es <strong>LIBRE</strong> de químicos y sintéticos que dañan los enlaces internos de cada vello.</p> 
            <p class='descripcionServicio'>Es <strong>NUTRITIVO</strong> porque aportamos a cada una de tus pestañas un producto de <strong>ALTO</strong> nivel nutricional para enriquecer tus vellos, el amadísimo <strong>BOTOX</strong> o <strong>KERATINA</strong> >>> Son productos formulados especialmente para aplicar en cejas y pestañas. Nutren, hidratan y restauran la fibra del pelo desde adentro hacia afuera. (no es el producto que se utiliza en peluquerías) </p>
              <p class='descripcionServicio'>El <strong> TINTE</strong> consiste en darle color a los vellos reforzando así la terminación de nuestras cejas y potenciando tu mirada al máximo posible. Este servicio es opcional, ya que no todas las cejas requieren realizar un tinte, pero tranquila, nosotras te asesoraremos en tu caso particular!</p>
 
      <h4 class= 'servicio'>¿CÓMO SACO TURNO?</h4>
      <p class='descripcionServicio'>Enviando Mensaje Privado por </p>
      <p class='descripcionServicio'> <a  href="https://www.instagram.com/luartigas.browart/" target="_blank"> <strong>Instagram</strong></a> o <a href="https://wa.me/5491123890920" target="_blank"><strong> Whatsapp</strong></a> </p>
    </div>
</section>
<section>
  <h3 class='titulo'id='combos'>| COMBOS |</h3>
  <div>
    <div class="recuadro">
      <div class='combo'>
        <h4 class="lema">COMBO PESTAÑAS </h4>
        <h4 class= 'serviciocombo'>LIFTING DE PESTAÑAS ORGÁNICO</h4>
        <h4 class="serviciocombo">  + NUTRICIÓN + TINTE</h4>
        <!-- <h4 class="lema">  PESTAÑAS PODEROSAS!</h4> -->
      </div>
      <DIV class="fotos">
        <img src="/images/COMBO_PESTAÑAS-04.jpg" alt=""class='fotosimg1'>
        
        <img src="/images/COMBO_PESTAÑAS-05.jpg" alt=""class='fotosimg2'>
        <img src="/images/COMBO_PESTAÑAS-06.jpg" alt=""class='fotosimg3'>
      </DIV>
      <p class='descripcionServicio'>Empoderamos tus pestañas con un <strong>Lifting Orgánico Nutritivo 100% CRUELTY FREE.</strong> ¿Por qué? porque amamos cuidarte y potenciar tu mirada con los productos más sanos y nutritivos del mercado.</p>
        <p class='descripcionServicio'>Brindamos un tratamiento <strong>100% artesanal</strong>, cuidando tus pestañas como si fuesen nuestras!</p>
        <h5 class='h5descripcionServicio'> > ¿Cómo es el servicio? < </h5>
        <li class="descripcionServicio">
          <ul>Higiene de Pestañas</ul>
          <ul>Lifting de Pestañas Orgánico</ul>
          <ul>Tinte de Pestañas</ul>
          <ul>Nutrición e Hidratación (Botox o Keratina)</ul>
          <ul>El proceso dura alrededor de 1:30 hs
          </ul>
        </li>

          <!-- <h5 class="h5descripcionServicio"> > ¿Cada cuánto podes hacértelo? < </h5>
          <p class='descripcionServicio'>Lo charlaremos personalmente ya que requiere que te informes con atención, pero en principio debes tener en cuenta que podrás realizarte el servicio una vez que este se haya ido por completo. Cada 2 a 3 meses aproximadamente.</p> -->
          <h5 class="h5descripcionServicio">> Valores <</h5>
          <p class='descripcionServicio'>Efectivo $2800</p>
          <p class='descripcionServicio'>Mercado Pago $3000</p>
          <P CLASS='padding'></P>
          <div class='combo'>
            <h4 class="lema">COMBO CEJAS</h4>
            <h4 class= 'serviciocombo'>ALISADO ORGÁNICO
              </h4>
              <h4 class="serviciocombo"> + NUTRICIÓN + PERFILADO</h4>
            <!-- <h4 class="lema">  CEJAS PODEROSAS!</h4> -->
          </div>
          <DIV class="fotos">
            <img src="/images/COMBO_CEJAS-01.jpg" alt=""class='fotosimg1'>
            <img src="/images/COMBO_CEJAS-02.jpg" alt=""class='fotosimg2'>
            <img src="/images/COMBO_CEJAS-03.jpg" alt=""class='fotosimg3'>
          </DIV>
          <p class='descripcionServicio'>Amamos este servicio! Cejas en tendencia con efecto pluma, on fleek!</p>
            <p class='descripcionServicio'>Realizamos un <strong>Alisado Orgánico Nutritivo 100% CRUELTY FREE</strong>. ¿Por qué? porque amamos cuidarte y potenciar tu mirada con los productos más sanos y nutritivos del mercado.</p>
              <p class='descripcionServicio'>Brindamos un tratamiento <strong>100% artesanal</strong>, cuidando tus cejas como si fuesen nuestras!
            <h5 class='h5descripcionServicio'> > ¿Cómo es el servicio? < </h5>
            <li class="descripcionServicio">
              
              <ul>Higiene de Cejas</ul>
              <ul>Exfoliación de Cejas</ul>
              <ul>Alisado de Cejas Orgánico</ul>
              <ul>Perfilado de Cejas (depilación con pincita)</ul>
              <ul>Nutrición e Hidratación (Botox o Keratina)</ul>
              <ul>El proceso dura alrededor de 1:30 hs</ul>
            </li>
    
              <!-- <h5 class="h5descripcionServicio"> > ¿Cada cuánto podes hacértelo? < </h5>
              <p class='descripcionServicio'>Lo charlaremos personalmente ya que requiere que te informes con atención, pero en principio debes tener en cuenta que podrás realizarte el servicio una vez que este se haya ido por completo. De 1 a 2 meses aproximadamente.</p> -->
              <h5 class="h5descripcionServicio">> Valores <</h5>
              <p class='descripcionServicio'>Efectivo $3100</p>
              <p class='descripcionServicio'>Mercado Pago $3300</p>
              <P CLASS='padding'></P>
              <div class='combo'>
                <h4 class="lema">COMBO POWER</h4>
                <h4 class= 'serviciocombo'>LIFTING ORGÁNICO + TINTE</h4>
                <h4 class= 'serviciocombo'>+ NUTRICIÓN</h4>
              </div>
              <DIV class="fotos">
                <img src="/images/COMBO_POWER-12.jpg" alt=""class='fotosimg4'>
                <img src="/images/COMBO_POWER-13.jpg" alt=""class='fotosimg5'>
              
              </DIV>
                <li class="descripcionServicio">
                 <ul> Higiene de Cejas y Pestañas</ul>
                 <ul>Lifting de Pestañas Orgánico</ul>
                  <ul>Tinte de Pestañas</ul>
                  <ul>Nutrición e Hidratación de Pestañas (Botox o Keratina)</ul>
                  <ul>Perfilado de Cejas (depilación con pincita)</ul>
                  <ul>El proceso dura alrededor de 2 a 2:30 hs</ul>
                </li>
                  <h5 class="h5descripcionServicio">> Valores < </h5>
                  <p class='descripcionServicio'>Efectivo $3800</p>
                  <p class='descripcionServicio'>Mercado Pago $4000</p>
                  <P CLASS='padding'></P>

                  <div class='combo'>
                    <h4 class="lema">COMBO PLUS</h4>
              
                    <h4 class= 'serviciocombo'>LIFTING ORGÁNICO + TINTE</h4>
                    <h4 class= 'serviciocombo'>+ ALISADO ORGANICO + PERFILADO</h4>
                    <h4 class= 'serviciocombo'>+ NUTRICIÓN</h4>
                  </div>
                  <DIV class="fotos">
                    
                    <img src="/images/COMBO_PLUS-08.jpg" alt=""class='fotosimg1'>
                    <img src="/images/COMBO_PLUS-09.jpg" alt=""class='fotosimg2'>
                  
                    <img src="/images/COMBO_PLUS-11.jpg" alt=""class='fotosimg3'>
                  
                  </DIV>
                    <li class="descripcionServicio">
                      <ul> Higiene de Cejas y Pestañas</ul>
                      <ul> Lifting de Pestañas Orgánico</ul>
                      <ul>Tinte de Pestañas</ul>
                      <ul>Exfoliación de Cejas</ul>
                      <ul>Alisado de Cejas Orgánico</ul>
                      <ul>Perfilado de Cejas (depilación con pincita) </ul>

                      <ul>Nutrición e Hidratación de Cejas y Pestañas (Botox o Keratina)</ul>
                      <ul>El proceso dura alrededor de 2 a 2:30 hs</ul>

                    </li>
            
                     
                      <h5 class="h5descripcionServicio">> Valores <</h5>
                      <p class='descripcionServicio'>Efectivo $5300</p>
                      <p class='descripcionServicio'>Mercado Pago $5500</p>
                      <P CLASS='padding'></P>
                      <div class="combo">
                      <h4 class= "lema">SERVICIOS INDIVIDUALES</h4>
                     </div>
                     <!-- <div class="sindividuales">
                      <p class='descripcionServicio'>LAMINADO NUTRITIVO (c/ Botox o Keratina)</p>
                      <p class='descripcionServicio'>efectivo $$$$</p>
                      <p class='descripcionServicio'>mercado pago $$$$</p>
                      </div> -->
                      <div class="sindividuales">
                      <p class='descripcionServicio'>PERFILADO (depilación con pincita)</p>
                      <DIV class="fotos">
                        
                        <img src="/images/PERFILADO-18.jpg" alt=""class='fotosimg1'>
                        <img src="/images/PERFILADO-19.jpg" alt=""class='fotosimg2'>
                        <img src="/images/PERFILADO-20.jpg" alt=""class='fotosimg3'>
                      </DIV>
                        
          <p class='descripcionServicio'>Efectivo $1000</p>
          <p class='descripcionServicio'>Mercado Pago $1100</p>
                    </div>
    </div>
    
  </div>
</section>
<h3 class='titulo' >| ABOUT US |</h3>
<div class="recuadro">
  <p class='descripcionaboutus'>¡Hola! Soy Lu y quería contarte un poco sobre mi y del espacio hermoso en el que las recibimos día a día.</p>
  
  <p class='descripcionaboutus'>Me dediqué durante 15 años a ser Diseñadora Gráfica. Las vueltas de la vida me fueron llevando por mil lugares donde me fui formando y aprendiendo de grandes maestros. Aprendí lo que tenía que aprender y todo me fue llevando para estar hoy, donde estoy parada. Vaya uno a saber por qué (quizás por mi espíritu tan inquieto que un poco se estaba aburriendo del mundo en el que estaba trabajando y tenía ganas de algo nuevo), pero hace unos 4 años me crucé con este oficio y comencé capacitándome en Estilismo de cejas, luego Microblading, Estilismo de Pestañas, BBGlow, Cosmetología Holística y seguimos avanzando…</p>
  <p class='descripcionaboutus'>Sin imaginarlo, durante la cuarentena surge la posibilidad de abrir este espacio que tanto amo, en el que nos visitan muchas de ustedes. En el que las buenas vibras siempre están presentes porque ustedes son parte de esto y sin sus buenas energías, no seríamos lo que somos.</p>
  <p class='descripcionaboutus'>Siempre apuntaremos a lo mismo. A que se sientan cómodas, felices de venir a visitarnos, no solo por tomar un servicio, sino también para venir a disfrutar el espacio junto con nosotras. Bienvenidas a nuestro Stud, cuando gusten, cuando quieran, cuando lo necesiten. Aquí las esperamos.</p>
  </div>
<footer>

  <h3 class='titulo'id='contacto'>| CONTACTO |</h4>
    <section class='recuadro'>
    <!-- <p class='descripcionServicio'>Por turnos</p> -->

  <div class='email'>
  
    <p class='infomail'>TURNOS POR INSTAGRAM  </p>
    <p class='emaildir'> <a  href="https://www.instagram.com/luartigas.browart/" target="_blank">@luartigas.browart</a></p>
    </div>
    <div class='email'>
      <p class='infomail'>TURNOS POR WHATSAPP </p>
      <p class='emaildir'>TOCA EL ICONO QUE VES EN PANTALLA</p>
      </div>
  <div class='email'>
  <p class='infomail'>POR INFO DE BBGLOW O MICROBLADING</p>
  <p class='emaildir'>luartigasbrowart@gmail.com</p>
  
</div>

</section>


</footer>
</body>
</html>