<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title >Luartigas</title>
</head>
<body>
  <header>
  <li class="menu"> 
    <ul class="menuop"><a href="#servicios"> SERVICIOS</ul></a>
    <ul class="menuop"><a href="#combos"> COMBOS</ul></a>
    <ul class="menuop"><a href="#contacto"> CONTACTO</a></ul>
    <ul class="menuop"><a href="#aboutus"> ABOUT US</a></ul>
  </li>
<img class="imagen" src="/images/FOTO + LOGO-02.jpg" alt="">
  
  </header>
  <div class="contacto">
    <a href="https://wa.me/5491158137567" target="_blank"> <img src="/images/Whatsapp_37229.png" alt="" class='logo-wsp'> </a>
    </div>
    <section><div id="servicios"></div>
    <!-- <h3 class='titulop'>| L U A R T I G A S |</h3> -->
    <!-- <div class='recuadro'> -->
    <p class='descripcion'>Tenemos un espacio donde encontraras las ganas de verte natural y radiante al 100%. Potenciando de manera consciente y mega charlado con vos lo que naturalmente ya tenés.</p> 
      <!-- <p class='descripcion'>Potenciando de manera consciente y mega charlado con vos lo que naturalmente ya tenés.</p> -->
    <!-- </div> -->
    
</section>
<section>
  <h3 class='titulo' >| SERVICIOS |</h3>
  <div class='recuadro'>
  <li class='servicios'>
    <div class='menu1'>
    <ul> <a href="#BB-Glow">BB Glow </a></ul>
    <ul><a href="#Microblading"> Microblading</a></ul>
    <ul><a href="#Lifting">Tinte pestañas</a></ul>
    <ul><a href="#Perfilado">Tinte cejas</a></ul>
    </div>
    <div class='separadorMenu'></div>
    <div class="menu2">
    <ul><a href="#Perfilado">Alisado Nutritivo </a></ul>
    <ul><a href="#Lifting"> Lifting nutritivo </a></ul>
    <ul><a href="#Perfilado">Perfilado</a></ul>
    <ul><a href="#contacto">Turnos</a></ul>
    </div>
    
     </li>
     <div id='BB-Glow'></div>
      
      <h4 class= 'servicio' >¿QUÉ ES BB GLOW?</h4>
      <p class='descripcionServicio'>El BBGLOW es un tratamiento anti envejecimiento y reparador de la piel, es un protocolo estético (no médico) y no invasivo con componentes de alta cosmética. Unifica el tono de la piel, aporta brillo e hidratación y crea ese efecto de “cara lavada". Atenúa la pigmentación de ojeras, manchas de acné y de sol, rosácea, poros dilatados, líneas de expresión y más! 
        </p>
        <p class='descripcionServicio'>BBGLOW proviene del inglés “Blemish Balm” que en español significa  “bálsamo” para un defecto o imperfección y “GLOW” significa brillar, es decir, BBGLOW es un bálsamo para cubrir / atenuar imperfecciones con efecto de brillo.</p>
        <div id='Microblading'></div>
       <p class='masinfo'> PARA + INFO DEJANOS TU MAIL POR WHATSAPP O INSTAGRAM!</p>
    
      <h4 class= 'servicio'>¿QUÉ ES MICROBLADING?</h4>
      <p class='descripcionServicio'>Es un tatuaje muy superficial en el que por medio de pequeños rasguños insertamos tinta, logrando así, un efecto híper realista con acabado pelo a pelo. Utilizamos dos anestesias de excelente calidad, por lo que no deberías sentir ningún tipo de dolor. Son anestesias en crema de uso tópico.
        </p>
        <div id="Lifting"></div>
        <p class='masinfo'> PARA + INFO DEJANOS TU MAIL POR WHATSAPP O INSTAGRAM!</p>
        
  
      <h4 class= 'servicio' >¿QUÉ ES LIFTING Y TINTE DE PESTAÑAS NUTRITIVO?</h4>
      <p class='descripcionServicio'>Antes que nada es importante que sepas que empoderamos tus Pestañas con un <strong>Lifting nutritivo 100% CRUELTY FREE. </strong>
        Con nuestro <strong>LIFTING DE PESTAÑAS </strong>buscamos cuidar y potenciar tu mirada logrando un resultado MEGA NATURAL. Levantando y 
        dándole una curvatura natural a tus pestañas.
        El <strong>TINTE</strong> consiste en darle color a los vellos reforzando así la terminación de nuestras pestañas y potenciando tu mirada al máximo posible.
        <strong>NUTRITIVO </strong>porque aportamos a cada una de tus pestañas un producto de<strong> ALTO </strong>nivel nutricional para enriquecer tus vellos, el 
        amadísimo<strong> BOTOX</strong> Es un producto formulado especialmente para aplicar en cejas y pestañas. Nutre, hidrata y restaura la fibra 
        del pelo desde adentro hacia afuera. (no es el producto que se utiliza en peluquerías)</p>
        <div id="Perfilado"></div>
  
      <h4 class= 'servicio' >¿QUÉ ES PERFILADO, LAMINADO Y TINTE DE CEJAS NUTRITIVO?</h4>
      <p class='descripcionServicio'>El <strong>PERFILADO</strong> consiste en darle forma a tus cejas mediante la depilación con <strong> PINCITA </strong> (no utilizamos hilo), realizando un diseño 
        100% personalizado, analizando la cantidad de pelo, largo, dirección del vello y las expectativas que vos misma tengas de tus cejas. 
        Con el <strong>LAMINADO NUTRITIVO</strong> imaginá tus cejas en su máxima expresión, realzando tu mirada como nunca. Las vas a amar! Con él 
        lograremos potenciar tus cejas con tu propio pelo, logrando así emprolijar los vellos rebeldes, ya sea por presencia de remolinos, 
        crecimiento de vellos perpendiculares a la piel, necesidad de achatar el volumen de la ceja o simplemente para mantener nuestras 
        cejas prolijas y en muchos casos, ganar altura (ancho). Es tendencia usarlas bien “fluffy”, despeinadas, del ancho máximo que 
        tu propio pelo nos permita.
        El <strong>TINTE</strong> consiste en darle color a los vellos reforzando así la terminación de nuestras cejas y potenciando tu mirada al máximo 
        posible. Este servicio es opcional, ya que no todas las cejas requieren realizar un tinte, pero tranquila, nosotras te asesoraremos 
        en tu caso particular!</p>
 
      <h4 class= 'servicio'>CÓMO SACO TURNO?</h4>
      <p class='descripcionServicio'>Enviando Mensaje Privado por </p>
      <p class='descripcionServicio'> <a  href="https://www.instagram.com/luartigas.browart/" target="_blank"> <strong>Instagram</strong></a> o por <a href="https://wa.me/5491158137567" target="_blank"><strong> Whatsapp</strong></a> </p>
    </div>
</section>
<section>
  <h3 class='titulo'id='combos'>| COMBOS |</h3>
  <div>
    <div class="recuadro">
      <div class='combo'>
        <h4 class= 'serviciocombo'>COMBO LIFTING NUTRITIVO  </h4>
        <h4 class= 'serviciocombo'> + TINTE  </h4>
        <h4 class="lema">  PESTAÑAS PODEROSAS!</h4>
      </div>
      <p class='descripcionServicio'>Empoderamos tus pestañas con un <strong>Lifting Nutritivo 100% CRUELTY FREE.</strong> ¿Por qué? porque amamos cuidarte y potenciar tu mirada naturalmente con los productos más sanos y nutritivos del mercado.
        Brindamos un tratamiento 100% artesanal, cuidando tus pestañas como si fuesen nuestras!</p>
        <h5 class='h5descripcionServicio'> > ¿Cómo es el servicio? < </h5>
        <li class="descripcionServicio">
          <ul>El procedimiento demora entre 1 y 1/2 a 2 horas</ul>
          <ul>Higiene de Pestañas</ul>
          <ul>Lifting de Pestañas</ul>
          <ul>Tinte de Pestañas</ul>
          <ul>Nutrición e Hidratación (Botox o Keratina)</ul>
        </li>

          <h5 class="h5descripcionServicio"> > ¿Cada cuánto podes hacértelo? < </h5>
          <p class='descripcionServicio'>Lo charlaremos personalmente ya que requiere que te informes con atención, pero en principio debes tener en cuenta que podrás realizarte el servicio una vez que este se haya ido por completo. Cada 2 a 3 meses aproximadamente.</p>
          <h5 class="h5descripcionServicio">> Valores <</h5>
          <p class='descripcionServicio'>efectivo $$$$</p>
          <p class='descripcionServicio'>mercado pago $$$$</p>
          <P CLASS='padding'></P>
          <div class='combo'>
            <h4 class= 'serviciocombo'>COMBO ALISADO NUTRITIVO  </h4>
            <h4 class= 'serviciocombo'> + PERFILADO + TINTE  </h4>
            <h4 class="lema">  CEJAS PODEROSAS!</h4>
          </div>
          <p class='descripcionServicio'>Amamos este servicio! Cejas en tendencia con efecto pluma, on fleek!
            Realizamos un laminado <strong>Nutritivo 100% CRUELTY FREE.</strong> ¿Por qué? porque amamos cuidarte y potenciar tu mirada naturalmente con los productos más sanos y nutritivos del mercado.
            Brindamos un tratamiento 100% artesanal, cuidando tus pestañas como si fuesen nuestras!
            <h5 class='h5descripcionServicio'> > ¿Cómo es el servicio? < </h5>
            <li class="descripcionServicio">
              <ul>El procedimiento demora entre 1 y 1/2 a 2 horas</ul>
              <ul>Higiene de Cejas</ul>
              <ul>Exfoliación de Cejas</ul>
              <ul>Alisado de cejas</ul>
              <ul>Perfilado de Cejas (depilación con pincita)</ul>
              <ul>Tinte de Cejas (servicio incluido pero puede que no lo requiereas)</ul>
              <ul>Nutrición e Hidratación (Botox o Keratina)</ul>
            </li>
    
              <h5 class="h5descripcionServicio"> > ¿Cada cuánto podes hacértelo? < </h5>
              <p class='descripcionServicio'>Lo charlaremos personalmente ya que requiere que te informes con atención, pero en principio debes tener en cuenta que podrás realizarte el servicio una vez que este se haya ido por completo. Cada 2 a 3 meses aproximadamente.</p>
              <h5 class="h5descripcionServicio">> Valores <</h5>
              <p class='descripcionServicio'>efectivo $$$$</p>
              <p class='descripcionServicio'>mercado pago $$$$</p>
              <P CLASS='padding'></P>
              <div class='combo'>
                <h4 class= 'serviciocombo'>COMBO CEJAS Y PESTAÑAS</h4>
                <h4 class="lema">POWER</h4>
              </div>
                <li class="descripcionServicio">
                 <ul> Higiene de Cejas y Pestañas</ul>
                 <ul>Lifting de Pestañas</ul>
                  <ul>Tinte de Pestañas</ul>
                  <ul>Nutrición e Hidratación de Pestañas (Botox o Keratina)</ul>
                  <ul>Perfilado de Cejas (depilación con pincita)</ul>
                </li>
                  <h5 class="h5descripcionServicio">> Valores< </h5>
                  <p class='descripcionServicio'>efectivo $$$$</p>
                  <p class='descripcionServicio'>mercado pago $$$$</p>
                  <P CLASS='padding'></P>

                  <div class='combo'>
                    <h4 class= 'serviciocombo'>COMBO CEJAS Y PESTAÑAS </h4>
                    <h4 class="lema"> PLUS</h4>
                  </div>
                  
                    <li class="descripcionServicio">
                      <ul> Higiene de Cejas y Pestañas</ul>
                      <ul> Lifting de Pestañas</ul>
                      <ul>Tinte de Pestañas</ul>
                      <ul>Alisado de cejas</ul>
                      <ul>Perfilado de Cejas (depilación con pincita) </ul>
                      <ul>Tinte de Cejas (servicio incluido pero <ul>>puede que no lo requiereas)</ul>
                      <ul>Nutrición e Hidratación de Cejas y Pestañas (Botox o Keratina)</ul>

                    </li>
            
                     
                      <h5 class="h5descripcionServicio">> Valores <</h5>
                      <p class='descripcionServicio'>efectivo $$$$</p>
                      <p class='descripcionServicio'>mercado pago $$$$</p>
                      <P CLASS='padding'></P>
                      <div class="combo">
                      <h4 class= 'serviciocombo'>SERVICIOS INDIVIDUALES</h4>
                     </div>
                     <!-- <div class="sindividuales">
                      <p class='descripcionServicio'>LAMINADO NUTRITIVO (c/ Botox o Keratina)</p>
                      <p class='descripcionServicio'>efectivo $$$$</p>
                      <p class='descripcionServicio'>mercado pago $$$$</p>
                      </div> -->
                      <div class="sindividuales">
                      <p class='descripcionServicio'>PERFILADO (depilación con pincita)</p>
                      <div id='aboutus'></div>
          <p class='descripcionServicio'>efectivo $$$$</p>
          <p class='descripcionServicio'>mercado pago $$$$</p>
                    </div>
    </div>
    
  </div>
</section>
<h3 class='titulo' >| ABOUT US |</h3>
<div class="recuadro">
  <p class='descripcionaboutus'>¡Hola! Soy Lu y quería contarte un poco sobre mi y del espacio hermoso que creamos junto con Guadi, mi co-equiper socia :)
  ¿Quién es Lu Artigas? Pues me dediqué durante 15 años a ser diseñadora gráfica, las vueltas de la vida me fueron llevando por mil lugares donde me fui formando y aprendiendo de grandes “maestros” para mi. Aprendí lo que tenía que aprender y todo me fue llevando para estar hoy, donde estoy parada. Vaya uno a saber por qué, quizás por mi espíritu tan inquieto que un poco se estaba aburriendo del mundo en el que estaba trabajando y tenía ganas de algo nuevo… pero me crucé con este oficio y comencé capacitándome en Estilismo de cejas, luego Microblading, Estilismo de Pestañas, BBGlow, Cosmetología Holística y seguiremos…</p>
  
  <p class='descripcionaboutus'>En el camino, durante la cuarentena me aparece un angelito, Guadi (con quien nos conocemos hace más de 5 años) y me sorprendió con un “pongamos un local”…. “¡No Guadi, me estoy yendo a vivir afuera! No hay chance”…”Pensalo”… Lo pensé poco, dejé que fluyera y decidí que era hora de tirarme a la pileta, y que fuera con ella. El famoso “todo pasa por algo”. ¿Y por qué con Guadi? Somos muy distintas y eso nos hace aprender mucho una de la otra, pero hay algo en lo que nos parecemos al 100%. Somos dos tanquecitos de guerra, vamos para adelante y logramos como sea lo que deseamos con el alma. En mi mente se cruzó el refrán “dios las cría, y el viento las amontona”… no creo en Dios, pero si en las energías, en que por algo nos cruzamos con ciertas personas, creo que la vida te pone adelante lo que necesitas aprender en ese momento y la pregunta no es ¿por qué?, sino ¿para qué?</p>
  <p class='descripcionaboutus'>Y aquí estamos, día a día fuimos construyendo este espacio para ustedes. Día a día poniéndole mucha buena vibra, amor, mucho de cada una de nosotras. Hoy el team está creciendo, poquito a poco y siempre apuntaremos a lo mismo. A que se sientan cómodas, felices de venir a visitarnos, no solo por tomar un servicio, sino también para venir a disfrutar el espacio junto con nosotras. Bienvenidas a nuestro Stud, cuando gusten, cuando quieran, cuando lo necesiten. Aquí las esperamos :)</p>
  </p></div>
<footer>

  <h3 class='titulo'id='contacto'>| CONTACTO |</h4>
    <section class='recuadro'>
    <!-- <p class='descripcionServicio'>Por turnos</p> -->

  <div class='email'>
  
    <p class='infomail'>TURNOS POR INSTAGRAM  </p>
    <p class='emaildir'> <a  href="https://www.instagram.com/luartigas.browart/" target="_blank">@luartigas.browart</a></p>
    </div>
    <div class='email'>
      <p class='infomail'>TURNOS POR WHATSAPP </p>
      <p class='emaildir'>TOCA EL ICONO QUE VES EN PANTALLA</p>
      </div>
  <div class='email'>
  <p class='infomail'>POR INFO DE BBGLOW O MICROBLADING</p>
  <p class='emaildir'>luartigasbrowart@gmail.com</p>
  
</div>

</section>

</footer>
</body>
</html>