<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title >Luartigas</title>
</head>
<body>
  <header>
  <li class="menu"> 
    <ul class="menuop"><a href="#servicios"> SERVICIOS</ul></a>
    <ul class="menuop"><a href="#combos"> COMBOS</ul></a>
    <ul class="menuop"><a href="#contacto"> CONTACTO</a></ul>
    <ul class="menuop"><a href="#aboutus"> ABOUT US</a></ul>
  </li>
<img class="imagen" src="/images/FOTO + LOGO-02.jpg" alt="">
  
  </header>
  
    <section>
    <h3 class='titulo'>| L U A R T I G A S |</h3>
    <div class='recuadro'>
    <p class='descripcion'>Tenemos un espacio donde encontraras las ganas de verte natural y radiante al 100%.</p> 
      <p class='descripcion'>Potenciando de manera consciente y mega charlado con vos lo que naturalmente ya tenés.</p>
    </div>
    
</section>
<section>
  <h3 class='titulo' id="servicios">| SERVICIOS |</h3>
  <div class='recuadro'>
  <li class='servicios'>
  <ul>|</ul>
    <ul> <a href="#BB-Glow">BB Glow |</a></ul>
    <ul><a href="#Microblading"> Microblading |</a></ul>
   
    <ul><a href="#Perfilado">Perfilado |</a></ul>
    
    <ul><a href="#Perfilado">Alisado Nutritivo |</a></ul>
    
    <ul><a href="#Lifting">| Lifting nutritivo |</a></ul>
    
    <ul><a href="#Lifting">| Tinte de sejas y pestañas |</a></ul>
   
  </li>
</div>
<p class='blanco'></p>
  <div class='recuadro'>

      <h4 class= 'servicio' id='BB-Glow'>¿QUÉ ES BB GLOW?</h4>
      <p class='descripcionServicio'>El BBGLOW es un tratamiento anti envejecimiento y reparador de la piel, es un protocolo estético (no médico) y no invasivo con 
        componentes de alta cosmética. Unifica el tono de la piel, aporta brillo e hidratación y crea ese efecto de “cara lavada". Atenúa la 
        pigmentación de ojeras, manchas de acné y de sol, rosácea, poros dilatados, líneas de expresión y más! </p>
        <p class='descripcionServicio'>BBGLOW proviene del inglés “Blemish Balm” que en español significa “bálsamo” para un defecto o imperfección y “GLOW” 
        significa brillar, es decir, BBGLOW es un bálsamo para cubrir / atenuar imperfecciones con efecto de brillo.</p>
       <p class='masinfo'> PARA + INFO DEJANOS TU MAIL POR WHATSAPP O INSTAGRAM!</p>
    
      <h4 class= 'servicio'id='Microblading'>¿QUÉ ES MICROBLADING?</h4>
      <p class='descripcionServicio'>Es un tatuaje muy superficial en el que por medio de pequeños rasguños insertamos tinta, logrando así, un efecto híper realista 
        con acabado pelo a pelo. Utilizamos dos anestesias de excelente calidad, por lo que no deberías sentir ningún tipo de dolor. Son 
        anestesias en crema de uso tópico. 
        </p>
        <p class='masinfo'> PARA + INFO DEJANOS TU MAIL POR WHATSAPP O INSTAGRAM!</p>
        
  
      <h4 class= 'servicio' id="Lifting">¿QUÉ ES LIFTING Y TINTE DE PESTAÑAS NUTRITIVO?</h4>
      <p class='descripcionServicio''>Antes que nada es importante que sepas que empoderamos tus Pestañas con un Lifting nutritivo 100% CRUELTY FREE. 
        Con nuestro LIFTING DE PESTAÑAS buscamos cuidar y potenciar tu mirada logrando un resultado MEGA NATURAL. Levantando y 
        dándole una curvatura natural a tus pestañas.
        El TINTE consiste en darle color a los vellos reforzando así la terminación de nuestras pestañas y potenciando tu mirada al máximo posible.
        NUTRITIVO porque aportamos a cada una de tus pestañas un producto de ALTO nivel nutricional para enriquecer tus vellos, el 
        amadísimo BOTOX Es un producto formulado especialmente para aplicar en cejas y pestañas. Nutre, hidrata y restaura la fibra 
        del pelo desde adentro hacia afuera. (no es el producto que se utiliza en peluquerías)</p>
  
      <h4 class= 'servicio' id="Perfilado">¿QUÉ ES PERFILADO, LAMINADO Y TINTE DE CEJAS NUTRITIVO?</h4>
      <p class='descripcionServicio'>El PERFILADO consiste en darle forma a tus cejas mediante la depilación con PINCITA (no utilizamos hilo), realizando un diseño 
        100% personalizado, analizando la cantidad de pelo, largo, dirección del vello y las expectativas que vos misma tengas de tus cejas. 
        Con el LAMINADO NUTRITIVO imaginá tus cejas en su máxima expresión, realzando tu mirada como nunca. Las vas a amar! Con él 
        lograremos potenciar tus cejas con tu propio pelo, logrando así emprolijar los vellos rebeldes, ya sea por presencia de remolinos, 
        crecimiento de vellos perpendiculares a la piel, necesidad de achatar el volumen de la ceja o simplemente para mantener nuestras 
        cejas prolijas y en muchos casos, ganar altura (ancho). Es tendencia usarlas bien “fluffy”, despeinadas, del ancho máximo que 
        tu propio pelo nos permita.
        El TINTE consiste en darle color a los vellos reforzando así la terminación de nuestras cejas y potenciando tu mirada al máximo 
        posible. Este servicio es opcional, ya que no todas las cejas requieren realizar un tinte, pero tranquila, nosotras te asesoraremos 
        en tu caso particular!</p>
 
      <h4 class= 'servicio'>CÓMO SACO TURNO?</h4>
      <p class='descripcionServicio'>Enviando Mensaje Privado por Instagram o por Whatsapp.</p>
    </div>
</section>
<section>
  <h3 class='titulo'id='combos'>| COMBOS |</h3>
  <div>
    <div class="recuadro">
      <div class='combo'>
        <h4 class= 'serviciocombo'>COMBO LIFTING NUTRITIVO + TINTE >>> </h4>
        <p class="lema">  Pestañas poderosas!</p>
      </div>
      <p class='descripcionServicio'>Empoderamos tus pestañas con un Lifting Nutritivo 100% CRUELTY FREE. Por qué? porque amamos cuidarte y potenciar tu mirada naturalmente con los productos más sanos y nutritivos del mercado.
        Brindamos un tratamiento 100% artesanal, cuidando tus pestañas como si fuesen nuestras!</p>
        <h5 class='servicio'> Cómo es el servicio?</h5>
        <li class="descripcionServicio">
          <ul>El procedimiento demora entre 1 y 1/2 a 2 horas</ul>
          <ul>Higiene</ul>
          <ul>Nutrición con Botox</ul>
          <ul>Hidratación</ul>
          <ul>Lifting</ul>
          <ul>Tinte</ul>
        </li>
        <p class="descripcionServicio">Brindamos un tratamiento 100% artesanal, cuidando tus pestañas como si fuesen nuestras! 
          Como ellas se merecen, logrando potenciar tu mirada al máximo.</p>
          <h5 class="descripcionServicio"> Cada cuánto podes hacértelo?</h5>
          <p class='descripcionServicio'>.............</p>
          <h5 class="descripcionServicio">Valores</h5>
          <p class='descripcionServicio'>efectivo $$$$</p>
          <p class='descripcionServicio'>mercado pago $$$$</p>

    </div>
    
  </div>
</section>
<h3 class='titulo' id="servicios">| ABOUT US |
<div class="recuadro">
  <p class='descripcion' id='aboutus'>¡Hola! Soy Lu y quería contarte un poco sobre mi y del espacio hermoso que creamos junto con Guadi, mi co-equiper socia :)
  ¿Quién es Lu Artigas? Pues me dediqué durante 15 años a ser diseñadora gráfica, las vueltas de la vida me fueron llevando por mil lugares donde me fui formando y aprendiendo de grandes “maestros” para mi. Aprendí lo que tenía que aprender y todo me fue llevando para estar hoy, donde estoy parada. Vaya uno a saber por qué, quizás por mi espíritu tan inquieto que un poco se estaba aburriendo del mundo en el que estaba trabajando y tenía ganas de algo nuevo… pero me crucé con este oficio y comencé capacitándome en Estilismo de cejas, luego Microblading, Estilismo de Pestañas, BBGlow, Cosmetología Holística y seguiremos…
  
  En el camino, durante la cuarentena me aparece un angelito, Guadi (con quien nos conocemos hace más de 5 años) y me sorprendió con un “pongamos un local”…. “¡No Guadi, me estoy yendo a vivir afuera! No hay chance”…”Pensalo”… Lo pensé poco, dejé que fluyera y decidí que era hora de tirarme a la pileta, y que fuera con ella. El famoso “todo pasa por algo”. ¿Y por qué con Guadi? Somos muy distintas y eso nos hace aprender mucho una de la otra, pero hay algo en lo que nos parecemos al 100%. Somos dos tanquecitos de guerra, vamos para adelante y logramos como sea lo que deseamos con el alma. En mi mente se cruzó el refrán “dios las cría, y el viento las amontona”… no creo en Dios, pero si en las energías, en que por algo nos cruzamos con ciertas personas, creo que la vida te pone adelante lo que necesitas aprender en ese momento y la pregunta no es ¿por qué?, sino ¿para qué?
  Y aquí estamos, día a día fuimos construyendo este espacio para ustedes. Día a día poniéndole mucha buena vibra, amor, mucho de cada una de nosotras. Hoy el team está creciendo, poquito a poco y siempre apuntaremos a lo mismo. A que se sientan cómodas, felices de venir a visitarnos, no solo por tomar un servicio, sino también para venir a disfrutar el espacio junto con nosotras. Bienvenidas a nuestro Stud, cuando gusten, cuando quieran, cuando lo necesiten. Aquí las esperamos :)
  </p></div>
<footer>

  <h3 class='titulo'id='contacto'>| CONTACTO |</h4>
    <section class='recuadro'>
    <!-- <p class='descripcionServicio'>Por turnos</p> -->
    <!-- <div class="contacto">
  <a href="https://www.instagram.com/luartigas.browart/" target="_blank"> <img src="/images/iconfinder-social-media-applications-3instagram-4102579_113804.png" alt="" class='logo-ig'></a>
  <p class='contactoo'>ó</p>
  <a href="https://wa.me/5491158137567" target="_blank"> <img src="/images/Whatsapp_37229.png" alt="" class='logo-wsp'> </a>
  </div> -->
  <div class='email'>
  
    <p class='infomail'>POR TURNOS > > > IG | </p>
    <p class='emaildir'> <a  href="https://www.instagram.com/luartigas.browart/" target="_blank">@luartigas.browart</a></p>
    </div>
    <div class='email'>
      <p class='infomail'>POR TURNOS > > > Whatsapp| </p>
      <p class='emaildir'>Toca EL icono que ves en pantalla :)</p>
      </div>
  <div class='email'>
  <p class='infomail'>POR INFO DE BBGLOW O MICROBLADING |</p>
  <p class='emaildir'>luartigasbrowart@gmail.com</p>
  
</div>
</section>

</footer>
</body>
</html>