@font-face {
  font-family: 'bebas-neue';
  src: url(".././fonts/Bebas-neue/BebasNeue\ Regular.ttf") format("truetype");
  src: url(".././fonts/bebas-neue/BebasNeue\ Regular.otf") format("truetype");
  src: url(".././fonts/bebas-neue/bebasneue_regular-webfont.woff") format("truetype");
  src: url(".././fonts/bebas-neue/bebasneue_regular-webfont.woff2") format("truetype");
}
@font-face {
  font-family: 'din-pro-cond';
  src: url(".././fonts/din-pro-cond/DINPro-Cond.otf") format("truetype");
}
@font-face{
  font-family: 'din-pro-cond-black';
  src: url('.././fonts/din-pro-cond/DINPro-CondBlack.otf') format('truetype')

}
@font-face{
  font-family: 'din-pro-cond-bold';
  src: url('.././fonts/din-pro-cond/DINPro-CondBold.otf') format('truetype')
}
@font-face{
  font-family: 'din-pro-cond-medium';
  src: url('.././fonts/din-pro-cond/DINPro-CondMedium.otf') format('truetype')
 }
@font-face{
    font-family: 'bebas-neue-book';
    src: url('.././fonts/bebas-neue/BebasNeue\ Book.ttf') format('truetype');
    src: url(".././fonts/bebasneue_book-webfont.woff") format("truetype");
    src: url(".././fonts/bebasneue_book-webfont.woff2") format("truetype");
}

html{
  scroll-behavior: smooth;
}

.imagen{
  width: 100% ;
  
}
body{
  padding: 0%;
  margin: 0%;
}
.recuadro{
  background-color: #F5F6F7;
  /* padding-left: 15vh;
  padding-right: 15vh; */
  padding-top: 43px;
  padding-bottom: 43px;

}
.descripcion{
  font-family:"din-pro-cond";
  color:#978E80 ;
  
  font-size: 1.7rem;
  padding: 0%;
  margin: 0%;
  padding-top: 7%;
  padding-left: 9%;
  padding-right: 9%;
  padding-bottom:7%  ;
text-align:center;
letter-spacing: 1px;
  
}
.descripcionaboutus{
  font-family:"din-pro-cond";
  color:#978E80 ;
  
  font-size: 3.4vh;
  padding: 0%;
  margin: 0%;
text-align:center;
  
}
.menu{
  display: flex;
  width: 100%; 
  flex-direction: row;
  font-family:'bebas-neue';
  justify-content: space-evenly;
  font-size: 2.5rem;
  color: #323232;
  background-color: white;
  padding-bottom: 0%;
  align-items: center;
  position: fixed;
    top: 0px;
    letter-spacing: 2px;
 
}
.menuop{
 padding-top: 25px;
 padding-bottom: 25px;
margin-top: 0%;
margin-bottom: 0%;
}
.titulo{
  color: #EDC2C5;
  font-family: 'din-pro-cond-black';
  font-size: 3.7vh; 
  text-align: center;
  margin-top: 13%;
  margin-bottom: 4%;
  letter-spacing: 5px;

}
.titulop
{
  color: #EDC2C5;
  font-family: 'din-pro-cond-black';
  font-size: 3.1vh; 
  text-align: center;
  margin-top: 13%;
  margin-bottom: 4%;
  letter-spacing: 3px;
}
.servicios{
  display: flex;
  flex-direction: row;
  
  font-family: 'din-pro-cond-bold';
  justify-content: center;
  font-size: 4vh;
  flex-wrap: wrap;
  /* padding-left: 15vh;
  padding-right: 15vh; */
  color: #978E80;
  background-color: #F5F6F7;

}
.servicios ul{
  padding-left: 2%;
  margin-left: 0%;
  list-style-type: none; 
}
.div{
background-color: #F5F6F7 ;
margin-top: 2vh;

}
.servicio{
  color: #978E80;
  font-family: 'din-pro-cond-black';
  text-align: center;
  font-size: 3.4vh;
  padding-bottom: 0%;
  margin-bottom: 0%;
  margin-top:25%
  ;
}
.serviciocombo{
  color: #978E80;
  font-family: 'din-pro-cond-black';
  text-align: center;
  font-size: 1.7rem;
  padding-bottom: 0%;
  margin-bottom: 0%;

}


.descripcionServicio{
    font-family:"din-pro-cond";
    color:#978E80 ;
    
    font-size: 1.9rem;
    list-style-type: none;
    text-align:center;
    margin-top: 0%;
    padding-top: 0%;
    margin-bottom: 0%;
    marker: none;

}
.descripcionServicio strong{
  font-family: 'din-pro-cond-medium';
}

.h5descripcionServicio{
  padding-top: 10%;
  font-family:"din-pro-cond";
  color:#978E80 ;
  
  font-size: 1.9rem;
  list-style-type: none;
  text-align:center;
  margin-top: 0%;
 
  margin-bottom: 0%;
  marker: none;
}
.masinfo{
  font-family: 'din-pro-cond-medium';
  text-align: center;
  font-size: 3.4vh;
  color:#978E80;
  margin-top: 0%;


}
.combo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20%;
}
.cont-combo{
  background-color: #F5F6F7;
}
.lema{
  color:#E8D100;
  text-align: center;
  font-size: 2rem;
  padding-bottom: 0%;
  margin-bottom: 0%;
  font-family: 'din-pro-cond-black';
  justify-self: top;
  padding-left: 0.7%;
  
}
.servicios a{
  color:unset;
  text-decoration: none;
}
.menuop a{
  color: unset;
  text-decoration: none;
}
.logo-wsp{
  width: 4.5rem;

}
.logo-ig{
  width: 3rem;
}
.contacto{
  display:flex;
  flex-direction: row-reverse;
 
  justify-content: space-between;
  width: 100%;
  padding-bottom: 4%;
  color:unset;
  text-decoration: none;
  position: fixed;
    bottom: 0%;

}

.logo-volver{
  width: 3.7rem;
  align-self: center;
}

.contacto a{
  padding-right: 3%;
  padding-left: 3%;
  align-self: center;
}
.cont-contacto{
  background-color: #F5F6F7;
}
.contactoo{
  font-family:"din-pro-cond";
  color:#978E80 ;
  background-color: #F5F6F7;
  font-size: 1.9rem;
   text-align:center;
  margin-top: 0%;
  padding-top: 0%;
  margin-bottom: 0%;
}
.email{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 2%;
  padding-bottom: 5%

}
.emaildir{
  font-family:"bebas-neue-book";
    color:#978E80 ;
   
    font-size: 1.9rem;
    text-align:center;
    margin-top: 0%;
    padding-top: 0%;
    margin-bottom: 0%;
}
.emaildir a{
  color:unset;
  text-decoration: none;
}
.descripcionServicio a{
  color:unset;
  text-decoration: none;
}
.infomail{
  font-family: 'bebas-neue';
  color:#978E80 ;
    padding-right: 1%;
    font-size: 1.9rem;
    text-align:center;
    margin-top: 0%;
    padding-top: 0%;
    margin-bottom: 0%;
    letter-spacing: 1px;
}
.blanco{
  padding-top: 5%;
}

.sindividuales{
  margin-bottom: 7%;
}
@media(max-width: 900px){
  .menu{
      flex-direction: row;
      font-family:'bebas-neue';
      justify-content: space-evenly;
      font-size: 130%;

  }
  .menuop{
    padding-left: 0%;
  }
  .recuadro{
    padding-left: 5vh;
    padding-right: 5vh;
  }
  .descripcion{
    font-size: 3.4vh;

  }
  .servicio{
    margin-bottom: 3%;
  }
  .servicios{
    display: flex;
    flex-direction: row;
    margin-bottom: 0%;
    font-size: 3.4vh;
  }
  .servicios ul{
    /* display: flex;
    flex-direction: column; */
    margin-bottom: 0%;
    margin-top:4% ;
    margin-bottom: 5%;

  }
  .separadorMenu{
    width: 1px;
    background-color: #978E80;
  }
  .descripcionServicio{
    font-size: 3.4vh
  }
  .h5descripcionServicio{
    font-size: 3.4vh;
    font-family: 'din-pro-cond-medium';

  }
  .descripcionServicio strong{
    font-family: 'din-pro-cond-medium';
  }

  .menu1{
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 43.5%;
    text-align: end;
    justify-content: end;
  }
  .menu2{
    margin-left: 5%;
    width: 43.5%;
    display: flex;
    flex-direction: column;
  }
  .descripcionServicio ul{
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 3.4vh;
   padding-left: 0%;
  }
  .serviciocombo{
    font-size: 3.4vh;
    margin-top: 0%;
  
  }
.padding{
  padding-top: 10%;
}
.combo{
 
  margin-bottom: 3%;
  margin-top: 0%;
  flex-direction: column;
  }
  .lema{
    margin-top: 0%;
    font-size: 3.4vh;
  }
  
   
  .email{
    flex-direction: column;

  }
  .infomail{
    font-size: 3.5vh;
  }
  .emaildir{
    font-size: 3.5vh;
    letter-spacing: 1px;
  }
  .imagen{
    margin-top: 16%;
  }
 
  .email{
    margin-bottom: 2%;
    margin-top: 0%
  }
}


/* espaciado titulo a 100*/ 